<div class="project-thumbnail-wrapper">
{{#each projects.projects}}
  <div class="project-thumb">
  <a href="{{this.projectLink}}">
    <span class="project-title-popup">{{this.popup}}</span>
      <img src="{{addPath this.image dir="../../img/projects/"}}" alt="{{this.imageAlt}}">
  </a>
  </div>
{{/each}}
</div>

<!-- section title footer -->
<div class="section-title-wrapper">
  <div class="section-title">
    {{sectionTitle projects.sectionTitle}}
  </div>
</div>